[2014-09-04 16:52] JMurk opened #1 "OAM - Update Browser Banner"
Please update the browser banner to read "OAM Activity Manager."  Also, please add an .ico file to the title html.

![image](https://cloud.githubusercontent.com/assets/5805454/4152992/e0ad6972-3453-11e4-84a4-911c0ef8577c.png)

[2014-09-04 17:00] JMurk opened #2 "OAM - Change URL for City App"
Issue:  Currently, the app has a URL with the ending of /ssoinvestigatewebapi/index.html.  This will include much more then just SSO investigations.

Resolution:  Please update to something along the lines of /ActivityManager/index.html

[2014-09-04 17:17] JMurk opened #3 "OAM - SSOs to Review - Change Filter"
Please change the query that populates the "SSOs to Review" List so that it also includes SSOs whose 24-hour report has been submitted.

[2014-09-04 17:20] JMurk opened #4 "OAM - SSOs to Review - Change Name"
Please change the SSOs to Review heading to read "SSOs to Investigate."  Also, update the Load SSOs to review to read "Load SSOs without and Investigation"

![image](https://cloud.githubusercontent.com/assets/5805454/4153337/b4fae184-3457-11e4-9ecc-e5a5d43ca1ce.png)

![image](https://cloud.githubusercontent.com/assets/5805454/4153340/b9aa2c44-3457-11e4-8acc-70f7241eeb44.png)

[2014-09-04 17:25] JMurk opened #5 "OAM - Add to Existing Investigation - Message Change"
Please change the following message:

![image](https://cloud.githubusercontent.com/assets/5805454/4153394/5d5961e8-3458-11e4-81bb-fbb5aecd64bf.png)

to read:

"Selected SSOs have been successfully assigned to the existing investigation!"

[2014-09-04 17:31] JMurk opened #6 "OAM - Add to Existing Investigation - Load Existing Investigation"
After the user assigns SSOs to an existing investigation, the app should open that investigation in the window so that the user may make edits to it.

Please adjust the workflow accordingly.

[2014-09-04 17:35] JMurk opened #7 "OAM - Searching Existing Investigation - Add Date Range"
Please add the ability to search for investigations based on a given date range.

[2014-09-04 17:37] JMurk opened #8 "OAM - Searching Existing Investigation - Change Title"
Please change the title of this page from:

![image](https://cloud.githubusercontent.com/assets/5805454/4153546/0ace1eda-345a-11e4-9b6c-a0db56bebe41.png)

to "Update Existing Investigation"

[2014-09-04 17:52] JMurk opened #9 "OAM - SSO Investigation Details - Owner Dropdown"
Please remove the valid values for the 'Owner' dropdown as they are not valid.  I will get a list of valid values from the stakeholders that we can plug in.

![image](https://cloud.githubusercontent.com/assets/5805454/4153795/3ebcd176-345c-11e4-9656-9e9ae5429621.png)

[2014-09-04 18:02] JMurk opened #10 "OAM - SSO Investigation Details - Dropdowns"
Issue:  Fields with dropdowns allow users to type in and save values not in the list.

![image](https://cloud.githubusercontent.com/assets/5805454/4153952/9f0e3078-345d-11e4-8178-45efdf1a7d7e.png)

Resolution:  Please do not allow users to manually type inside of dropdown-controlled boxes.

[2014-09-04 18:11] JMurk opened #11 "OAM - SSO Investigation Existing Details - Comments Column"
Issue:  When the details are longer then the width of the "Comments" column in the Existing Details grid, you cannot see the entire comment.

![image](https://cloud.githubusercontent.com/assets/5805454/4154107/e495c2f4-345e-11e4-8f9b-4acb2aa248f6.png)

Resolution:  The entire comment should be viewable in the grid, not matter its length.

[2014-09-04 18:27] JMurk opened #12 "OAM - Recommedation - Priority Dropdown"
Issue:  The priority dropdown only has a value of "Delete", which is not valid.

![image](https://cloud.githubusercontent.com/assets/5805454/4154377/295a33fa-3461-11e4-8f84-04e8d2f385ec.png)

Resolution: Please update the valid values to include:

-High
-Medium
-Low

[2014-09-04 18:49] JMurk opened #13 "OAM - Recommendations - Add Ability to Edit Existing"
Within the Recommendations tab, please add a function that allows users to open and edit an Existing recommendation.

[2014-09-04 18:51] JMurk opened #14 "OAM - SSO Investigation - Save Confirmation Message"
Please change the following conformation message:

![image](https://cloud.githubusercontent.com/assets/5805454/4154736/5d370bbe-3464-11e4-9a46-cfb5ea872f75.png)

to read:
"The Investigation has been saved successfully!"

[2014-09-04 18:52] JMurk opened #15 "OAM - SSO Investigation - Other Cause Require Description"
When Other is checked as a cause, please make the Other description field required.

![image](https://cloud.githubusercontent.com/assets/5805454/4154773/a0fdeea8-3464-11e4-823e-0ca208f8553c.png)

[2014-09-04 20:04] JMurk opened #16 "OAM - SSO Investigation - Most Recent Occurrence"
For the Most Recent Occurrence field, the following issues exist:
1. Fix the spelling of the label to "Occurrence"
2. It is not auto populating using the MAX Occurrence date of related SSOs.

![image](https://cloud.githubusercontent.com/assets/5805454/4155868/9d8a3128-346e-11e4-830f-0f9c043b3865.png)

[2014-09-09 17:54] kanglu666 commented on #1
updated at city dev

[2014-09-09 17:54] kanglu666 commented on #2
URL has been updated:
http://dpwdev.baltimorecity.gov/water/ActivityManager/index.html

[2014-09-09 17:55] kanglu666 commented on #4
updated

[2014-09-09 18:07] kanglu666 commented on #5
done

[2014-09-09 18:07] kanglu666 commented on #6
done

[2014-09-09 18:09] kanglu666 commented on #7
done

[2014-09-09 18:09] kanglu666 commented on #8
done

[2014-09-09 18:10] kanglu666 commented on #9
please provide the owner list

[2014-09-09 18:11] kanglu666 commented on #10
done

[2014-09-09 18:11] kanglu666 commented on #11
updated

[2014-09-09 18:11] kanglu666 commented on #12
done

[2014-09-09 18:12] kanglu666 commented on #13
done

[2014-09-09 18:13] kanglu666 commented on #14
done

[2014-09-09 18:13] kanglu666 commented on #15
done

[2014-09-09 18:26] kanglu666 commented on #16
done

[2014-09-09 18:57] kanglu666 commented on #3
done

[2014-09-11 14:10] JMurk commented on #2
Confirmed complete.

[2014-09-11 14:10] #2 closed, assigned to JMurk

[2014-09-11 14:12] JMurk opened #17 "OAM - Type Ahead in Activity Dropdown"
**Issue**:  The application allows the user to type in the Activity dropdown.  This should not be allowed as they need to pick an option from the list.
![image](https://cloud.githubusercontent.com/assets/5805454/4235206/97f918b0-39bd-11e4-88f6-9baea7afb311.png)

**Resolution**: Disable typing in the Activity input box.

[2014-09-11 14:34] JMurk commented on #7
Confirmed, but please update the message:

![image](https://cloud.githubusercontent.com/assets/5805454/4235585/9ec9b322-39c0-11e4-8adf-9f9cbd83d5ab.png)

To read:
"Please choose a start date and end date!"

[2014-09-11 14:37] JMurk commented on #8
Confirmed complete.

[2014-09-11 14:37] #8 closed, assigned to JMurk

[2014-09-11 14:38] JMurk commented on #4
Shoot, I had a typo above.  It should be "an Investigation" not "and Investigation."  Please update.

[2014-09-11 14:39] JMurk commented on #1
Confirmed complete.

[2014-09-11 14:39] #1 closed, assigned to JMurk

[2014-09-11 14:41] JMurk commented on #5
Confirmed complete.

[2014-09-11 14:41] #5 closed, assigned to JMurk

[2014-09-11 14:42] JMurk commented on #6
Confirmed complete.

[2014-09-11 14:42] #6 closed, assigned to JMurk

[2014-09-11 14:42] JMurk commented on #14
Confirmed complete.

[2014-09-11 14:42] #14 closed, assigned to JMurk

[2014-09-11 14:44] JMurk commented on #16
Spelling has been fixed, but is still not updating when a new SSO is added to an existing investigation.

[2014-09-11 14:45] JMurk commented on #10
Confirmed complete.

[2014-09-11 14:45] #10 closed, assigned to JMurk

[2014-09-11 14:46] JMurk commented on #15
Confirmed complete.

[2014-09-11 14:46] #15 closed, assigned to JMurk

[2014-09-11 14:47] JMurk commented on #11
Confirmed complete.

[2014-09-11 14:47] #11 closed, assigned to JMurk

[2014-09-11 14:48] JMurk commented on #9
![image](https://cloud.githubusercontent.com/assets/5805454/4235803/b9a8058e-39c2-11e4-8985-44bf9c6cb4de.png)

[2014-09-11 14:49] JMurk commented on #3
Confirmed complete.

[2014-09-11 14:49] #3 closed, assigned to JMurk

[2014-09-11 14:49] JMurk commented on #13
Confirmed complete.

[2014-09-11 14:49] #13 closed, assigned to JMurk

[2014-09-11 14:51] JMurk commented on #12
Confirmed complete.

[2014-09-11 14:51] #12 closed, assigned to JMurk

[2014-09-11 14:54] JMurk opened #18 "OAM - Domained Fields"
The application needs to be able to read from and write coded values to the database.  I will send the data dictionary for the SSO investigation & Recommedation portion.  Please be sure that all values from the spreadsheet match in the application.

[2014-09-11 15:15] JMurk opened #19 "OAM - Add Map Layers"
Please add the map services that I had mentioned in an e-mail previously.

•         Sewer Work Orders
•         Sewer CSRs
•         UAMD Wastewater
•         Water
•         Wastewater
•         County Wastewater
•         Stormwater
•         Index
•         Consent Decree
•         Geo Technical
•         Topo
•         Utility Boundaries
•         FSE
•         Orthos

[2014-09-11 15:16] JMurk opened #20 "OAM - Identify Function"
Please add the identify function to the map portion of the application.  Results should populate in a horizontal grid under "Query Results"

[2014-09-12 13:09] JMurk opened #21 "OAM - Add a Geolocator"
Please add a geolocator function to the map portion of the application.  Ideally, it would be the same geocoder that the Utility Viewer uses.

[2014-09-12 13:12] JMurk opened #22 "OAM - Add Missing Required Fields Message"
Please add a message for when a user tries to save a record with missing required fields.

The message should read: "WARNING: Record not saved, required fields are missing!"

[2014-09-12 13:26] JMurk opened #23 "OAM - Workspace Cut Off on Small Screens"
**Issue**:  On smaller screens, some things get cut off and the user has no way to access them.

![image](https://cloud.githubusercontent.com/assets/5805454/4250126/1c3720aa-3a80-11e4-84f8-afffc72a73ca.png)

**Resolution**: Please add a horizontal scroll bar, or another way access all parts of that panel on all size screens.

[2014-09-12 13:57] JMurk opened #24 "OAM - Total SSO Label"
**Issue**:  On the SSO tab of an investigation, the total SSOs box is labeled as "Total Account"

![image](https://cloud.githubusercontent.com/assets/5805454/4250545/9cc2f6dc-3a84-11e4-9038-8aa60d31f617.png)

**Resolution**:  Change he label to read only "Total:"

[2014-09-12 14:11] JMurk opened #25 "OAM - SSO List - Column Header Updates"
In the SSOs at Location grid, please update the "Link" column headers to read

"24-Hour Report Link" and "5-Day Report Link" respectively.

![image](https://cloud.githubusercontent.com/assets/5805454/4250729/b3fabc3e-3a86-11e4-8ac0-59e7078af04d.png)

[2014-09-12 14:13] JMurk opened #26 "OAM - Zoom to SSO"
Please add a Zoom To function to the SSO tab.  The user should be able to select and SSO from the grid and zoom to the point in the map.

![image](https://cloud.githubusercontent.com/assets/5805454/4250752/f131cd36-3a86-11e4-8768-47c2cd0420cd.png)

[2014-09-12 14:21] JMurk opened #27 "OAM - Recommendation - Autopopulate Recommended By"
Please auto populate the Recommended By field with the FULL NAME of the logged in user.  This should be for inserts only.

![image](https://cloud.githubusercontent.com/assets/5805454/4250862/03c0a4da-3a88-11e4-8ec7-eeae66727c03.png)

[2014-09-12 14:23] JMurk opened #28 "OAM - Recommendation - Rec Folder Path Label"
Please update the "Rec. Folder" label to read "Recommendation Folder Path:"

![image](https://cloud.githubusercontent.com/assets/5805454/4250901/679e3c42-3a88-11e4-9901-4d85d5a9d02a.png)

[2014-09-12 14:31] JMurk opened #29 "OAM - Recommendation -Review Date Label Adjustment"
**Issue**:  The Review Date label on the recommendation form is too close to the text box to its left.

![image](https://cloud.githubusercontent.com/assets/5805454/4251015/6a0944d0-3a89-11e4-80a2-eaaa6fc67cb1.png)

**Resolution**:  Align the label with the Review Date text box

[2014-09-12 14:33] JMurk opened #30 "OAM - Recommendations Not Saving"
**Issue**: Recommendations are not saving.

**Resolution**:  Please investigate and resolve accordingly.

[2014-09-12 14:36] JMurk opened #31 "OAM - Build in Security"
Please add security to this application.  It should be added to the admin tool so that users can be managed as well.

For now, we will only have a "User" security level.

[2014-09-12 14:43] JMurk opened #32 "OAM - Map - Hide Non Functional Buttons"
Please hide the buttons on he toolbar that are not functional (e.g. print, help).

![image](https://cloud.githubusercontent.com/assets/5805454/4251187/1fffffe4-3a8b-11e4-8c24-3ac7089d2919.png)

[2014-09-12 16:59] kanglu666 commented on #20
what layer users need to identify? what's the workflow?

[2014-09-12 18:20] JMurk commented on #20
All visible layers not in the BaseMap.

**Workflow**:  Click identify button, select features by drawing a box.

[2014-09-17 17:27] kanglu666 commented on #32
updated at dev.

[2014-09-17 17:29] kanglu666 commented on #31
windows login check build in.
Need work with Jessey to plug in to this app to the admin portal

[2014-09-17 17:30] kanglu666 commented on #30
domians updated, this issue has been fixed, please test

[2014-09-17 17:30] kanglu666 commented on #29
updated

[2014-09-17 17:31] kanglu666 commented on #28
updated

[2014-09-17 17:31] kanglu666 commented on #27
updated. need further enhancement after we plug in this app to the admin portal

[2014-09-17 17:32] kanglu666 commented on #26
zoom in to selected sso function has been finished. please test.
Just saw that, there are some bad location SSO features in dev.

[2014-09-17 17:39] kanglu666 commented on #25
updated

[2014-09-17 17:39] kanglu666 commented on #24
updated

[2014-09-17 17:39] kanglu666 commented on #23
scroll bar added

[2014-09-17 17:40] kanglu666 commented on #22
warning message added

[2014-09-17 17:41] kanglu666 commented on #21
geolocator has been added in to OAM app. please test

[2014-09-17 17:43] kanglu666 commented on #19
all map services except the CSRs (not working in dev) have been added into the app

[2014-09-17 17:43] kanglu666 commented on #17
updated

[2014-09-17 17:49] kanglu666 commented on #16
updated

[2014-09-17 17:49] kanglu666 commented on #9
owner domain applied

[2014-09-17 17:49] kanglu666 commented on #7
updated

[2014-09-17 17:50] kanglu666 commented on #4
updated

[2014-09-18 15:12] JMurk commented on #21
Confirmed complete.

[2014-09-18 15:12] #21 closed, assigned to JMurk

[2014-09-18 15:16] JMurk commented on #32
Confirmed complete.

[2014-09-18 15:16] #32 closed, assigned to JMurk

[2014-09-18 15:21] JMurk opened #33 "OAM - Table of Contents - Label"
Please add an s to the end of the label so that it reads "Table of Contents"

![image](https://cloud.githubusercontent.com/assets/5805454/4322313/6d49fd7a-3f47-11e4-8af2-f90a684337eb.png)

[2014-09-18 15:30] JMurk commented on #19
Looks good, but can you move Topo above BaseMap?  I will look into CSR issue.

[2014-09-18 15:30] JMurk commented on #31
Please coordinate with Jesse.

[2014-09-18 15:32] JMurk commented on #26
Confirmed complete.  Will check bad geometry.

[2014-09-18 16:04] JMurk opened #34 "OAM - Map - Add Full Extent Button"
Please add a full extent button to the map tools.

[2014-09-18 16:09] JMurk commented on #24
Confirmed complete.

[2014-09-18 16:09] #24 closed, assigned to JMurk

[2014-09-18 16:35] JMurk commented on #25
I still see the columns labeled as "Link"

![image](https://cloud.githubusercontent.com/assets/5805454/4323591/c4a64362-3f51-11e4-82ad-41314ef051b1.png)

[2014-09-18 16:39] JMurk commented on #23
Confirmed complete.

[2014-09-18 16:39] #23 closed, assigned to JMurk

[2014-09-18 16:48] JMurk commented on #17
Confirmed complete.

[2014-09-18 16:48] #17 closed, assigned to JMurk

[2014-09-18 16:51] JMurk commented on #7
Confirmed complete.

[2014-09-18 16:51] #7 closed, assigned to JMurk

[2014-09-18 16:59] JMurk commented on #16
Confirmed complete.

[2014-09-18 16:59] #16 closed, assigned to JMurk

[2014-09-18 16:59] JMurk commented on #9
Confirmed complete.

[2014-09-18 16:59] #9 closed, assigned to JMurk

[2014-09-18 17:00] JMurk commented on #4
Confirmed complete.

[2014-09-18 17:00] #4 closed, assigned to JMurk

[2014-09-18 17:01] JMurk commented on #22
Confirmed complete.

[2014-09-18 17:01] #22 closed, assigned to JMurk

[2014-09-18 17:15] JMurk commented on #30
Confirmed complete.

[2014-09-18 17:15] #30 closed, assigned to JMurk

[2014-09-18 17:15] JMurk commented on #29
Confirmed complete.

[2014-09-18 17:15] #29 closed, assigned to JMurk

[2014-09-18 17:16] JMurk commented on #28
You have to colons in there, please delete one.

![image](https://cloud.githubusercontent.com/assets/5805454/4324158/877af87e-3f57-11e4-90f9-8713192e79a2.png)

[2014-09-18 17:17] JMurk commented on #27
Confirmed complete.  We should populate with Full name once hooked up into security.

[2014-09-18 17:17] #27 closed, assigned to JMurk

[2014-09-18 17:23] JMurk opened #35 "OAM - Status Details - Autopopulate User"
**Issue:**  The Details table is storing "Test User" as the User. It should be the name of the logged in user.

![image](https://cloud.githubusercontent.com/assets/5805454/4324250/788199e4-3f58-11e4-83f7-a5f91bb6bdb2.png)

**Resolution:** Update the autopopulate to be the currently logged in user.

[2014-09-19 14:03] kanglu666 commented on #31
Joe, please add Jesse to this repository.
Jessey, please add the OAM app to portal.
it should be like the Desltop Utility Viewer, all city login can access it.

[2014-09-19 18:16] kanglu666 commented on #18
All Domains in SSO investigation & Recommedation form have been applied.

[2014-09-19 18:16] kanglu666 commented on #20
Identify Function has been added in OAM app, please test

[2014-09-19 18:17] kanglu666 commented on #25
updated

[2014-09-19 18:18] kanglu666 commented on #28
updated

[2014-09-19 18:18] kanglu666 commented on #33
updated

[2014-09-19 18:18] kanglu666 commented on #34
full extent button has been added.

[2014-09-19 18:18] kanglu666 commented on #35
done.

[2014-09-19 18:31] kanglu666 commented on #19
done

[2014-09-20 13:25] JMurk commented on #34
Confirmed complete.

[2014-09-20 13:25] #34 closed, assigned to JMurk

[2014-09-20 13:25] JMurk commented on #33
Confirmed complete.

[2014-09-20 13:25] #33 closed, assigned to JMurk

[2014-09-20 13:27] JMurk commented on #31
Jesse - There will only be one security level for this app called "User" (much like Leak Detection App)

[2014-09-20 13:31] JMurk commented on #19
It looks like the map layer display properly on the map, but the TOC doesn't have them in visibility order.  Make sure the TOC is in visibility order and make sure the order is as follows (**Bold** layers should be on by default):
•         Sewer Work Orders
•         Sewer CSRs
**•        SSO**
•        FSE
•        UAMD Wastewater
•         Water
**•         Wastewater**
•         County Wastewa

[2014-09-20 13:34] JMurk commented on #20
Confirmed complete.

[2014-09-20 13:34] #20 closed, assigned to JMurk

[2014-09-20 13:36] JMurk opened #36 "OAM - Adjustable TOC Panel"
**Question:**  Is it possible to make the bottom map panel (holds TOC, results, and locator) vertically adjustable?

Sometimes the area is so small, it is hard to see everything.  If this is manually adjustable, the user can adjust it to their liking.

![image](https://cloud.githubusercontent.com/assets/5805454/4345388/2b00074a-40cb-11e4-9809-7508c84cb935.png)

[2014-09-20 13:41] JMurk commented on #19
Also, be sure to add UAMD Wastewater .... The map service name for that feed is UAMD.

[2014-09-20 13:44] JMurk commented on #35
Confirmed complete

[2014-09-20 13:44] #35 closed, assigned to JMurk

[2014-09-20 13:45] JMurk commented on #25
Confirmed complete.

[2014-09-20 13:45] #25 closed, assigned to JMurk

[2014-09-20 13:47] JMurk opened #37 "OAM - SSO Report Links Question"
**Question:**  Is there anyway to hide links to 24-hour and 5-day reports when there is no record for them in the SSO_HISTORY_LOG table?
![image](https://cloud.githubusercontent.com/assets/5805454/4345417/b2a7445a-40cc-11e4-9977-0dccf34eb274.png)

If not, can those link to the SSO feature class and pull the info from there?

[2014-09-20 13:51] JMurk opened #38 "OAM - Hide Lateral CCTV Activity Option"
AFTER moving to production, please hide the Lateral CCTV option from the activity dropdown.  This only should be hidden in production.  It can stay in the development version.

[2014-09-20 13:57] JMurk opened #39 "OAM - Investigation - Form Layout"
Please move Investigation Date and Address to the top of the form, next to Investigation ID.

![image](https://cloud.githubusercontent.com/assets/5805454/4345437/1b7df7de-40ce-11e4-8d48-f0a396b4c57b.png)

[2014-09-20 14:08] JMurk opened #40 "OAM - Data Issue - LAST_OCCURRENCE_DATE"
**Issue:**  The field Most Recent Occurrence in the app should actually be writing to the LAST_OCCURRENCE_DATE field in the table.

![image](https://cloud.githubusercontent.com/assets/5805454/4345456/8aca00a0-40cf-11e4-8109-b27ba5c83803.png)

[2014-09-20 14:11] JMurk opened #41 "OAM - Data Issue - Cause Toggles"
**Issue:**  When a user leaves a checkbox untoggled, the database leaves the corresponding field in the database null.

![image](https://cloud.githubusercontent.com/assets/5805454/4345464/09e11a36-40d0-11e4-8f96-1a60cde8c0c1.png)

**Resolution:**  Please update so that blank checkboxes write 0 (No) to the table.

[2014-09-20 14:19] JMurk commented on #18
For CCTV Status, the code for Available has a space at the end.  Please remove the space.

![image](https://cloud.githubusercontent.com/assets/5805454/4345484/b264d40e-40d0-11e4-8cbc-49bafdab962a.png)

[2014-09-20 14:20] JMurk commented on #28
Confirmed complete.

[2014-09-20 14:20] #28 closed, assigned to JMurk

[2014-09-21 21:39] jday3 commented on #31
This is resolved locally and I will push to prod tomorrow morning

[2014-09-22 10:51] jday3 commented on #31
This is now on dpwview. OAM security is listed under the mobile apps (although its not a mobile app, it was easier to put there than under utility viewer)

[2014-09-22 12:43] JMurk commented on #31
Please push to dev as well, if possible.

[2014-09-22 16:13] kanglu666 commented on #18
updated

[2014-09-22 16:14] kanglu666 commented on #19
updated

[2014-09-22 16:15] kanglu666 commented on #36
right panel (Map, TOC, results, and locator) is now vertically adjustable .

[2014-09-22 16:18] kanglu666 commented on #37
1: no way to hide the links if there is no record in log table.
actually, when this goes to prod, 24HR and 5DAY SSOs should have records in sso_history_table.

2: hyperlink is to the SSO report app, cant pull data fro the SSO feature class.

[2014-09-22 16:19] kanglu666 commented on #38
done

[2014-09-22 16:19] kanglu666 commented on #39
done

[2014-09-22 16:20] kanglu666 commented on #40
should be fixed, please test

[2014-09-22 16:20] kanglu666 commented on #41
updated

[2014-09-22 18:06] JMurk commented on #39
Can you right-alight the labels so that they are close to the input box?

[2014-09-22 18:07] JMurk commented on #38
Confirmed complete.

[2014-09-22 18:07] #38 closed, assigned to JMurk

[2014-09-22 18:10] JMurk commented on #37
OK, closing.

[2014-09-22 18:10] #37 closed, assigned to JMurk

[2014-09-22 18:11] JMurk commented on #19
Confirmed complete.

[2014-09-22 18:11] #19 closed, assigned to JMurk

[2014-09-22 18:22] JMurk commented on #36
Confirmed complete.

[2014-09-22 18:22] #36 closed, assigned to JMurk

[2014-09-22 18:35] JMurk commented on #18
Confirmed complete.

[2014-09-22 18:35] #18 closed, assigned to JMurk

[2014-09-22 18:36] JMurk commented on #41
Confirmed complete.

[2014-09-22 18:36] #41 closed, assigned to JMurk

[2014-09-22 18:36] JMurk commented on #40
Confirmed complete.

[2014-09-22 18:36] #40 closed, assigned to JMurk

[2014-09-23 14:32] kanglu666 commented on #39
done

[2014-09-23 20:26] JMurk opened #42 "OAM - Link Help and Log Out Buttons"
Please link the Help button to the pdf of the OAM user guide (sent via email) and the Logout button to the Portal page.

[2014-09-23 20:27] JMurk commented on #39
Confirmed complete dev & prod.

[2014-09-23 20:27] #39 closed, assigned to JMurk

[2014-09-23 23:41] jday3 commented on #31
It's on dev now

[2014-09-24 01:59] kanglu666 commented on #42
help and logout button are functional in both prod and dev.

[2014-09-24 02:17] kanglu666 commented on #31
Joe, before i redirect OAM app using admin portal as the security check, please add some city users from admin portal. because once switching the new security, city user not in the OAM group will have no access to the app.

[2014-09-24 12:37] JMurk commented on #31
Users have been added.

[2014-09-24 12:38] JMurk commented on #42
Confirmed complete.

[2014-09-24 12:38] #42 closed, assigned to JMurk

[2014-09-24 14:13] kanglu666 commented on #31
OAM is now using admin portal checking user. if city users are not in the OAM app group, they will be redirected back to the portal page.

[2014-09-25 15:38] JMurk commented on #31
Confirmed complete.

[2014-09-25 15:38] #31 closed, assigned to JMurk

[2014-09-26 19:40] JMurk opened #43 "OAM - Recommendations - Change Recommendation Type Values"
Please update the Recommendation drop down
![image](https://cloud.githubusercontent.com/assets/5805454/4426497/70aa3fd4-45b4-11e4-9d8b-032845036d9c.png)

To use the following codes and descriptions:
![image](https://cloud.githubusercontent.com/assets/5805454/4426542/e8f3d02c-45b4-11e4-9be2-21a95d325063.png)

[2014-09-29 16:25] kanglu666 commented on #43
updated in dev, please test

[2014-09-29 18:34] JMurk commented on #43
Confirmed complete in dev, ready for push to prod.

[2014-10-02 18:35] kanglu666 commented on #43
updated in prod

[2014-10-04 13:35] JMurk commented on #43
Confirmed complete.

[2014-10-04 13:35] #43 closed, assigned to JMurk

[2014-10-06 19:28] JMurk opened #44 "OAM - Update SSO Symbology"
Update "ALL SSOs" layer symbology - change color o something more visible.

[2014-10-06 19:34] JMurk opened #45 "OAM - Investigation - Responsible Party"
In the Responsible Party dropdown, please change the code/description combination of:

UAMD || Utility Asset Management Division

to

OAM || Office of Asset Management

[2014-10-06 19:38] JMurk opened #46 "OAM - Investigations - Add SR and WO Links to SSO List in Investigation"
Please add the Work Order ID and Service Request ID columns from to "SSOs to Investigate" list
![image](https://cloud.githubusercontent.com/assets/5805454/4532150/46ca326c-4d90-11e4-94ad-ef6672eadf28.png)

 to the SSO list within the SSO Tab of the Investigation.
![image](https://cloud.githubusercontent.com/assets/5805454/4532155/53f99a68-4d90-11e4-8114-c0d2c372281c.png)

Make sure that they are h

[2014-10-10 12:58] JMurk opened #47 "OAM - SSO Investigation - Date"
**Issue:**  The app displays SSO date & time, however only date is needed.

![image](https://cloud.githubusercontent.com/assets/5805454/4592424/68868390-507b-11e4-9127-633eb4b34df7.png)

**Resolution:**  Please update to only show DATE and not time.  This should be done in the SSOs to investigate list and the SSOs at Location list.

[2014-10-10 13:08] JMurk opened #48 "OAM - SSOs Investigation - Add Recent SSO List"
Please add a button to the left of the Load SSOs without an Investigation button entitled "Load Recent SSOs with an Investigation"

-When a user clicks this button, the system will load a table of SSOs that occurred in the past 30 days and have an InvestigationID.

-The table should have columns for SSOID, Date, Address, SR Number (linked), WO Number (linked), Overflow Type, Choke Type, and Invest

[2014-10-10 13:13] JMurk opened #49 "OAM - Sort Lists"
Please sort lists in the application as follows:

SSOs to Investigation - By Date, Oldest to Newest
Investigations - By Investigation Date, Newest to Oldest
SSOs at Location - By Date, Newest to Oldest
Existing Recommendations - By Date, Newest to Oldest

[2014-10-15 15:29] JMurk commented on #26
Reopening, please add to the SSOs to Investigate list.

[2014-10-23 15:45] kanglu666 commented on #45
done on city dev

[2014-10-23 15:46] kanglu666 commented on #46
done on dev

[2014-10-23 15:46] kanglu666 commented on #47
done on dev

[2014-10-23 15:46] kanglu666 commented on #49
done on dev

[2014-10-23 19:09] JMurk commented on #49
Confirmed complete in dev, push to prod.

[2014-10-23 19:11] JMurk commented on #47
Confirmed complete in dev, push to prod

[2014-10-23 19:13] JMurk commented on #46
Confirmed complete on dev, push to prod

[2014-10-23 19:14] JMurk commented on #45
Confirmed complete on dev, push to prod

[2014-10-27 18:13] kanglu666 commented on #49
updated at PROD

[2014-10-27 18:13] kanglu666 commented on #47
updated at PROD

[2014-10-27 18:14] kanglu666 commented on #46
updated at PROD

[2014-10-27 18:14] kanglu666 commented on #45
updated at PROD

[2014-10-27 20:22] kanglu666 commented on #26
done at city dev

[2014-10-27 20:22] kanglu666 commented on #48
new function has been added at city dev, please test

[2014-10-28 15:20] JMurk commented on #49
confirmed complete.

[2014-10-28 15:20] #49 closed, assigned to JMurk

[2014-10-28 15:40] JMurk commented on #48
Please capitalize Reviewed here :
![image](https://cloud.githubusercontent.com/assets/5805454/4811037/a6e550c2-5eb7-11e4-94d8-b76af2f8bfa1.png)

Everything else looks good

[2014-10-28 15:42] JMurk commented on #47
confirmed complete.

[2014-10-28 15:42] #47 closed, assigned to JMurk

[2014-10-28 15:43] JMurk commented on #46
Confirmed complete.

[2014-10-28 15:43] #46 closed, assigned to JMurk

[2014-10-28 15:44] JMurk commented on #45
Confirmed Complete.

[2014-10-28 15:44] #45 closed, assigned to JMurk

[2014-10-28 15:53] JMurk commented on #26
Confirmed complete on dev, please push to prod.

[2014-10-30 15:56] JMurk opened #50 "OAM - New SSO Map Service"
In the Map, please re-point the SSO layer to the SSO_Investigations Map service.

[2014-10-30 16:07] JMurk opened #51 "OAM - Recent SSOs with Investigation List - Add Repeat Column"
Please add a column in the "Recently Reviewed SSOs" list called "Repeats."  It should be placed to the right on Investigation ID.

The column should query a count on Investigation ID in the SSO feature class.  So, if the Investigation ID is 2400 and 4 records have that value, the Repeats column will read 4 for all of those records.

[2014-10-30 16:09] JMurk commented on #48
This has changed... closing this issue.

[2014-10-30 16:09] #48 closed, assigned to kanglu666

[2014-10-30 16:12] JMurk opened #52 "OAM - SSO Investigation - Load ALL SSOs"
Please changes the Recently Reviewed list to load ALL SSOs where INVESTIGATIONID is not null.

The list name should be changed to "All Investigated SSOs"
![image](https://cloud.githubusercontent.com/assets/5805454/4846964/5b1244d6-604f-11e4-9909-dba4cc4a5f74.png)

The button should be changed to read "Load All Investigated SSOs"
![image](https://cloud.githubusercontent.com/assets/5805454/4846981/7

[2014-11-04 19:22] kanglu666 commented on #52
updated

[2014-11-04 19:25] kanglu666 commented on #51
all query data are coming from map services, cant add a calculated field "repeat".

[2014-11-04 19:25] kanglu666 commented on #50
i dont see the new sso_investigations map service

[2014-11-04 19:25] kanglu666 commented on #26
done

[2014-11-10 18:01] JMurk opened #53 "OAM - SSOs to Investigate - Default Order Change"
Please updated the SSOs to Investigate list so that it is ordered from oldest to newest by default.

![image](https://cloud.githubusercontent.com/assets/5805454/4980834/8d4b18e4-6903-11e4-948c-8a8d98454901.png)

[2014-11-11 15:37] JMurk commented on #52
Confirmed complete.

[2014-11-11 15:37] #52 closed, assigned to JMurk

[2014-11-11 15:42] JMurk commented on #50
sso_investigation is on dev.  Please implement there first.

[2014-11-11 15:44] JMurk commented on #44
Completed.

[2014-11-11 15:44] #44 closed, assigned to JMurk

[2014-11-11 15:44] JMurk commented on #26
Confirmed complete.

[2014-11-11 15:44] #26 closed, assigned to JMurk

[2014-11-12 16:55] JMurk commented on #51
I added a field called REPEATS to the "Investigated SSOs" layer in the SSO_Investigation map service on dev.

[2014-11-21 14:06] JMurk opened #54 "OAM - SSO Investigation - Date Problems"
**Issue:**: When creating a new investigation, the Investigation Date auto-populates with an SSO Date.  Alos, the system prevents the user from selecting and saving today's date.

**Resolution:**  For new investigations, please auto-populate the Investigation date with the SYSTEM date.  Also, please revise the validation check so that it is <= system date.

[2014-11-26 19:12] JMurk opened #55 "OAM - SSO Investigation - Add Column (Choke Feature Type)"
Please add a column to the SSOs to Investigate list between Address and SR Number called "Choke Type".  It should pull the field CHOKE_TYPE field in the SSO feature class.

![image](https://cloud.githubusercontent.com/assets/5805454/5207214/3c3a43ec-7576-11e4-9c63-2b389e7f6e1e.png)

[2014-12-09 21:08] JMurk opened #56 "OAM - SSO Investigation - Choke Feature Type Value"
Please add "None" and "N/A" as values to the "Choked Feature" dropdown in the investigation form.

![image](https://cloud.githubusercontent.com/assets/5805454/5365913/88f7ce60-7fbd-11e4-8644-b33ff6710aab.png)

The codes are NON for None and NA for N/A

[2014-12-09 21:44] jday3 commented on #55
Done on dev

[2014-12-09 21:45] jday3 commented on #54
Done, on dev

[2014-12-09 21:45] jday3 commented on #53
Done, on dev

[2014-12-09 21:46] jday3 commented on #56
Done on dev, but are those codes in the domain?

[2014-12-10 14:32] JMurk commented on #56
Yes they are in the domain in both dev and prod.  Please push to prod.

[2014-12-10 14:35] JMurk commented on #55
Confirmed complete in dev, please push to prod.

[2014-12-10 14:36] JMurk commented on #54
Confirmed complete, please push to prod.

[2014-12-10 14:37] JMurk commented on #53
Confirmed complete on dev, please push to prod.

[2014-12-10 15:25] jday3 commented on #51
Complete on dev

[2014-12-10 15:25] jday3 commented on #50
Complete on dev

[2014-12-15 15:46] JMurk commented on #51
Confirmed complete on dev, please push to prod.

[2014-12-15 15:47] JMurk commented on #50
Confirmed complete on dev, please push to prod.

[2014-12-18 20:31] JMurk opened #57 "OAM - SSO Investigation - Select Choked Feature ID from the Map"
**Enhancement:**  Users would like the ability to populate the choked feature ID field by selecting a feature on the map.

![image](https://cloud.githubusercontent.com/assets/5805454/5495347/caec0d7c-86ca-11e4-9d31-ee62f395ff9e.png)

I'm not sure what the best way to implement this would be from a development standpoint, so let me know your thoughts.

[2014-12-18 23:30] jday3 commented on #50
on 10.2 prod

[2014-12-18 23:31] jday3 commented on #50
All other issues completed before are on prod

[2014-12-19 14:29] JMurk opened #58 "DAM- SSO Investigations - Load Lists Initially"
**Issue:** Upon selecting the SSO Investigations activity, the Lists are no loaded.

![image](https://cloud.githubusercontent.com/assets/5805454/5505725/8433cdd8-8761-11e4-9f88-ec023702c233.png)

**Resolution:**  Please load both lists upon initial log in.

[2014-12-19 14:30] JMurk commented on #53
Complete.

[2014-12-19 14:30] #53 closed, assigned to JMurk

[2014-12-19 14:32] JMurk commented on #56
Complete

[2014-12-19 14:32] #56 closed, assigned to JMurk

[2014-12-19 14:38] JMurk commented on #55
Complete.

[2014-12-19 14:38] #55 closed, assigned to JMurk

[2014-12-19 14:40] JMurk commented on #54
Complete.

[2014-12-19 14:40] #54 closed, assigned to JMurk

[2014-12-19 16:14] JMurk commented on #51
The column isn't populating.  I had to make some changes to the map service, but after doing so, all SSO should have a value populated in that column.

![image](https://cloud.githubusercontent.com/assets/5805454/5507312/0d403130-8770-11e4-856b-46a6ad764969.png)

[2014-12-19 16:19] JMurk commented on #50
Complete.

[2014-12-19 16:19] #50 closed, assigned to JMurk

[2014-12-24 16:20] jday3 commented on #51
Fixed on production

[2014-12-26 13:29] jday3 commented on #58
Done, on prod and dev

[2014-12-26 13:30] jday3 commented on #58
Also, the list of SSOs in an investigation should update properly when creating a new investigation

[2014-12-26 17:27] jday3 commented on #57
I implemented a drag and drop solution: The user identifies the feature on the map, then drags the feature from the results tree and drops into the 'Choked Feature ID' text field. Then, the Choked feature type and ID are populated.
![draganddrop](https://cloud.githubusercontent.com/assets/4439618/5558561/80b8c03e-8cfa-11e4-9721-7a793a2f1ca9.gif)

[2014-12-26 17:27] jday3 commented on #57
This is on dev for you to test

[2014-12-29 14:26] JMurk commented on #58
Confirmed complete.

[2014-12-29 14:26] #58 closed, assigned to JMurk

[2014-12-29 14:32] JMurk commented on #51
Confirmed complete.

[2014-12-29 14:32] #51 closed, assigned to JMurk

[2014-12-29 14:38] JMurk commented on #57
Looks good, please push to prod.

[2014-12-29 14:52] jday3 commented on #57
Done

[2014-12-29 16:34] JMurk commented on #57
Confirmed complete.

[2014-12-30 13:38] JMurk commented on #57
They have requested that this functionality be put in place for the Overflowing feature ID as well.  Please implement if possible.

[2014-12-30 14:48] jday3 commented on #57
Done on dev

[2014-12-30 14:50] jday3 commented on #57
Double check that I'm allowing the correct layers to be used for the overflowing feature

[2014-12-30 17:38] JMurk commented on #57
Add:
Force Mains (corresponds with Broken Pipe)
Lateral/CO Points (corresponds with Clean Out/ OVERFLOWING_POINT_ID)

Also check that you have Lampholes set (couldn't find one on the map to test).

[2014-12-30 18:05] jday3 commented on #57
I added those two layers and checked that lamphole works

[2014-12-30 18:23] JMurk commented on #57
Please push to prod.

[2014-12-30 20:08] jday3 commented on #57
Done

[2015-01-16 18:49] JMurk commented on #57
Confirmed complete.

[2015-01-16 18:49] #57 closed

[2015-01-16 18:53] JMurk opened #59 "OAM - SSO Investigation - Add Value for Followup Status"
Please add the value of "Private" (code: PRI in the domain) to the Follow-Up Status dropdown within the investigation details page.

![image](https://cloud.githubusercontent.com/assets/5805454/5782157/f00a887c-9d86-11e4-865f-2182c522dc5d.png)

[2015-01-16 19:59] jday3 commented on #59
Done on dev and prod

[2015-01-17 00:21] JMurk commented on #59
Confirmed complete

[2015-01-17 00:21] #59 closed

[2015-01-17 00:23] JMurk opened #60 "OAM - SSO Investigation - SSO Date Off"
**Issue:**  In the SSOs grid within an investigation, the date is displaying 1 day before the actual date stored in the database.

In this example, the dates should be 1/15/15 and 12/2/14
![image](https://cloud.githubusercontent.com/assets/5805454/5786540/024970d8-9db5-11e4-9e2d-fbb180c86a41.png)

**Resolution:**  Please investigate and resolve accordingly.

[2015-01-19 14:27] jday3 commented on #60
I had the dates offset by 4 hours where they needed to be offset by 5 hours since eastern time is -5 hours to GMT. Fixed on prod

[2015-01-20 13:23] JMurk commented on #60
Confirmed complete.

[2015-01-20 13:23] #60 closed

[2015-01-20 19:16] JMurk opened #61 "OAM - SSO Investigation - Overflowing Feature & ID Not Auto-Populating"
**Issue:**  When creating a new investigation from a selected SSO, the Overflowing Feature and Overflowing Feature ID are failing to populate.

![image](https://cloud.githubusercontent.com/assets/5805454/5823952/e25c1756-a0ae-11e4-9b2f-6d8f836d026b.png)

**Resolution:** Please investigate and resolve accordingly.

[2015-01-20 19:55] JMurk opened #62 "OAM - SSO Investigation - Calendar Control Issues"
**Issue:** The calandar controls used by the activity manager allow users to pick the date, but also the month and the year.  The month and the year controls do not result in any change:
![image](https://cloud.githubusercontent.com/assets/5805454/5824700/2696df46-a0b4-11e4-87bc-9d4924d07061.png)

**Resolution:** Fix that part of the control so it works, otherwise remove/disable it.

[2015-01-21 15:50] jday3 commented on #62
Related to BUG - EXTJS-15968  [Ext JS 5.1 Release Notes](http://docs.sencha.com/extjs/5.1/whats_new/release_notes.html)

[2015-01-21 16:44] jday3 commented on #62
I'm going to upgrade this app from 5.0 to 5.1 to take advantage of this bug fix.

[2015-01-21 16:52] JMurk opened #63 "OAM - SSO Investigation - Save Changes Prompt"
**Issue:**  The Save Changes modal screen is prompted every time a user chooses to leave an editable screen regardless of if there are unsaved changes or not.
![image](https://cloud.githubusercontent.com/assets/5805454/5840479/e9f94122-a163-11e4-9658-ba4ac3d45ff2.png)

**Resolution:**  Please adjust so this message only appears when there are pending, unsaved changes in the form they are leaving.

[2015-01-21 17:37] jday3 commented on #62
The app is upgraded on dev, so now the month/year dropdown should work. There is no simple way to hide the dropdown.

[2015-01-21 17:37] jday3 commented on #61
Fixed on dev

[2015-01-21 18:16] JMurk opened #64 "OAM - SSO Investigation - Highlight Selected SSO"
Users would like an identified SSO on the map to highlight in the “SSOs to Investigate” grid.

The workflow would be:
1. Identify non-investigated SSO on the map.
2. Select the record in the Identify Results
3. The SSO row automatically center (poosible?) and highlights in the "SSOs to Investigate" grid.

![image](https://cloud.githubusercontent.com/assets/5805454/5842047/bf9f707a-a16f-11e4-87db-5

[2015-01-21 18:41] JMurk opened #65 "OAM - SSO Investigation - Assigning to Existing Investigation - Autopopulate Inv. Grid"
When assigning SSOs to an existing investigation, auto-populate the search results grid with investigations (derived from SSO.INVESTIGATIONID) within 100' of the selected SSOs (only possible if one is selected).

![image](https://cloud.githubusercontent.com/assets/5805454/5842480/2363afb0-a173-11e4-927e-f6d42c94ed0e.png)

[2015-01-21 18:43] JMurk opened #66 "OAM - SSO Investigation - Remove WO Number Coumns"
Please Remove the WO Number columns from the "SSOs to Investigate" grid and the "Recently Reviewed SSOs" grid.  They are no longer needed by the users.

[2015-01-21 18:44] JMurk opened #67 "OAM - SSO Investigation - Recently Reviewed SSOs Label"
Please capitalize reviewed in the "Recently reviewed SSOs" label.

![image](https://cloud.githubusercontent.com/assets/5805454/5842535/9ccacb04-a173-11e4-9150-9b713c919069.png)

[2015-01-21 18:49] JMurk opened #68 "OAM - SSO Investigation - Zoom to SSO When Investigation Opens"
The Open Investigation button (i) within the Recently Investigated SSOs grid should also zoom to the SSO in the map.

![image](https://cloud.githubusercontent.com/assets/5805454/5842630/5ab123ac-a174-11e4-80f6-4e33074fa0ff.png)

[2015-01-21 19:02] JMurk opened #69 "OAM - SSO Investigation - Investigation Info Labels"
On the Investigation Details page, add Investigation ID and Address as a readable label along the top so that users do not have to change tabs to see that information.

![image](https://cloud.githubusercontent.com/assets/5805454/5842819/0da664f8-a176-11e4-9777-28959d300169.png)

[2015-01-21 19:10] JMurk opened #70 "OAM - SSO Investigation - Move SSO Points"
Add the functionality that will allow uses to move the SSO point feature within the map.  The current SSO_Investigation service can not be a feature service because of data sources outside of the geodatabase.  Would a new service be able to be used?

[2015-01-21 19:12] JMurk opened #71 "OAm - SSO Investigations - Edit INVESTIGATIONID attribute of selected SSO"
Users should be able to edit the INVESTIGATIONID of a selected SSO.  This should be expanded with the thought that other attributes may be added as editable in the future.

[2015-01-21 19:16] JMurk opened #72 "OAM - SSO Investigation - Add SSOs to Investigation"
Within the SSO tab of the Investigation details page, add a button/function that allows users to add SSOs to the investigation from the map.  Drag and drop possible?

![image](https://cloud.githubusercontent.com/assets/5805454/5843088/05f4b7bc-a178-11e4-80c6-ec37d81c27d8.png)

[2015-01-21 19:18] JMurk opened #73 "OAM - SSO Investigation - Add Attached Document Funtionality"
Add in the “Attached Documents” tool from the Utility Viewer.  This will allow users to view CCTV videos directly from the application.

![image](https://cloud.githubusercontent.com/assets/5805454/5843131/58e71226-a178-11e4-9520-ec1e90c2590d.png)

[2015-01-21 19:26] JMurk opened #74 "OAM - SSO Investigation - Reports"
Add in a section to select and launch reports.  For now "reports" will just export a set of records to a spreadsheet based on pre-defined query (i.e. no parameters.. for now).

I would like to discuss the options here prior to implementing anything.  My intial thought is to break the initial page into two tabs. One for SSOs (the current page) and the other for accessing/launching reports.

[2015-01-21 19:34] JMurk commented on #62
Confirmed complete on dev.  If the change was simple, push to prod (off hours, if possible)

[2015-01-21 19:35] JMurk commented on #61
Confirmed complete on dev, please push to prod.

[2015-01-21 20:53] jday3 commented on #70
Why do we want to allow SSOs to be moved in the investigation app? I'm not sure how we would get this to work unless we use a new service, but the SSO data for the investigations is being queried through the SSO_Investigation map service.

[2015-01-22 14:31] jday3 commented on #61
Fixed the issue where when OVFL_STRUCTURE='CO', the overflow id was pulled from OVERFLOW_POINT_ID instead of OVERFLOW_TAG. This was pushed to dev and prod.

[2015-01-22 14:31] jday3 commented on #62
pushed to prod

[2015-01-26 15:57] JMurk opened #75 "OAM - SSO Investigation - Updates to Existing Investigations Not Saving"
**Issue:**  Edits made to existing investigations are not saving (prod).  They appear to save, but when returning to the record, they are gone.

![image](https://cloud.githubusercontent.com/assets/5805454/5902609/d0fb4a64-a549-11e4-82ac-2fb0097d9fda.png)

**Resolution:**  Please investigate and resolve accordingly.  Use 2371 as a test case.

[2015-01-26 17:01] JMurk commented on #70
This is something that they need to do as a part of their workflow.  I have created a feature service on dev called SSO_Investigation_Feature_Service.  You should use that for mapping, then use the SSO_Investigation map service to populate the grids.

[2015-01-26 17:09] JMurk commented on #62
Confirmed complete.

[2015-01-26 17:09] #62 closed

[2015-01-26 17:12] JMurk commented on #61
Confirmed complete.

[2015-01-26 17:12] #61 closed

[2015-01-26 18:32] jday3 commented on #75
Should be fixed

[2015-03-11 13:15] jday3 commented on #71
Where would you want to edit the investigation id? in the map results?

[2015-03-11 18:39] jday3 commented on #63
This should be fixed, on dev

[2015-03-11 18:40] jday3 commented on #64
This works on dev

[2015-03-11 18:40] jday3 commented on #66
Done on dev

[2015-03-11 18:41] jday3 commented on #67
Done on dev

[2015-03-11 18:42] jday3 commented on #68
Done, on dev

[2015-03-11 18:42] jday3 commented on #69
Done, on dev

[2015-03-11 18:47] jday3 commented on #70
Done, on dev. The following gif shows how to move an SSO. Currently, it only allows you to move Non-Investigated SSOs, but if this method is good I can add Investigated SSOs as well.

![move_sso](https://cloud.githubusercontent.com/assets/4439618/6604205/4dba2a36-c7fd-11e4-8945-8acfd1ac76f9.gif)

[2015-03-11 18:51] jday3 commented on #72
Done on dev. Non Investigated SSOs can be added from the map results by dragging and dropping on the table as shown below.

![add_sso](https://cloud.githubusercontent.com/assets/4439618/6604352/26e4b2a4-c7fe-11e4-90ed-890a95649c11.gif)

[2015-03-12 18:23] JMurk commented on #72
Confirmed complete, please push to prod.

[2015-03-12 18:28] JMurk commented on #71
Yeah that would work, if it's possible of course.

[2015-03-12 18:46] JMurk commented on #69
Confirmed complete, please push to prod.

[2015-03-12 18:50] JMurk commented on #68
Confirmed complete on dev, please push to prod.

[2015-03-12 18:51] JMurk commented on #70
Confirmed complete, please expand to the Investigated SSO layer and push to prod.

[2015-03-12 18:52] JMurk commented on #67
Confirmed complete, please push to prod.

[2015-03-12 19:05] JMurk commented on #66
Confirmed complete, please push to prod.

[2015-03-12 19:07] JMurk commented on #64
I'm not seeing it highlight in the SSOs to Investigate grid.

[2015-03-12 19:11] JMurk commented on #63
This is still appearing when there are no pending changes.

[2015-03-13 14:21] JMurk commented on #75
"Overflowing feature" seems like it is not saving at all.

[2015-03-16 12:02] jday3 commented on #64
It only highlights in the investigate grid when it exists in there (some aren't in the grid)

[2015-03-16 12:04] jday3 commented on #75
dev or prod?

[2015-03-16 13:00] JMurk commented on #75
sorry, in prod.

[2015-03-16 14:07] jday3 commented on #73
done on dev

[2015-03-16 14:16] jday3 commented on #70
The code has been migrated to production, but the SSO_Investigation_Feature_Service feature service needs to be published in prod

[2015-03-16 14:18] jday3 commented on #72
Pushed to prod

[2015-03-16 14:19] jday3 commented on #69
on prod

[2015-03-16 14:19] jday3 commented on #68
on prod

[2015-03-16 14:19] jday3 commented on #67
on prod

[2015-03-16 14:19] jday3 commented on #66
on prod

[2015-03-16 14:20] jday3 commented on #65
Done on dev

[2015-03-16 14:38] jday3 commented on #75
Fixed now

[2015-03-18 13:46] JMurk commented on #75
Appears to be fixed

[2015-03-18 13:46] #75 closed

[2015-03-18 13:56] JMurk commented on #73
Confirmed complete.

[2015-03-18 13:57] JMurk commented on #73
The identify isn't working.

[2015-03-18 13:59] JMurk commented on #72
Confirmed complete.

[2015-03-18 13:59] #72 closed

[2015-03-18 14:18] JMurk commented on #70
The feature service has been published.

[2015-03-18 14:20] JMurk commented on #69
Confirmed complete.

[2015-03-18 14:20] #69 closed

[2015-03-18 14:23] JMurk commented on #68
Confirmed complete.

[2015-03-18 14:23] #68 closed

[2015-03-18 14:33] JMurk commented on #67
Confirmed complete.

[2015-03-18 14:33] #67 closed

[2015-03-18 14:33] JMurk commented on #66
Confirmed complete.

[2015-03-18 14:33] #66 closed

[2015-03-18 14:41] JMurk opened #76 "OAM - SSO Investigation - Overflow Type Not Displaying"
**Issue:**  In the "Recently Reviewed SSOs" grid, there is no data being displayed in the Overflow Type columns.

![image](https://cloud.githubusercontent.com/assets/5805454/6711089/4afcbf62-cd5b-11e4-8b9b-709ac976744b.png)

**Resolution:** Please display this values in the SSO.OVERFLOW_TYPE field.

[2015-03-18 14:44] JMurk commented on #65
A bit of a delay for the records load, but that's OK.  Push to prod.

[2015-03-18 15:20] jday3 commented on #70
Okay, it seems to be working

[2015-03-18 15:23] jday3 commented on #73
What do you mean?

[2015-03-18 15:38] jday3 commented on #76
fixed on prod, fix will be pushed to dev after next update

[2015-03-18 16:42] JMurk commented on #76
Confirmed complete.

[2015-03-18 16:42] #76 closed

[2015-03-18 16:54] JMurk commented on #73
Welp, it's working now so disregard that comment.  Please push to prod.

[2015-03-18 16:59] JMurk commented on #70
Confirmed complete.

[2015-03-18 16:59] #70 closed

[2015-03-18 17:05] JMurk commented on #64
Confirmed complete, please push to prod.

[2015-03-18 17:23] jday3 commented on #64
now on prod

[2015-03-18 17:27] jday3 commented on #65
now on prod

[2015-03-18 17:28] jday3 commented on #73
now on prod

[2015-03-18 18:13] JMurk commented on #73
The links to the video are pointing to the ip rather than dpwview.baltimorecity.gov like in the utility viewer.  Thus links don't work outside of the city network.

[2015-03-18 18:23] JMurk commented on #65
Confirmed complete.

[2015-03-18 18:23] #65 closed

[2015-03-18 18:23] JMurk commented on #64
Confirmed complete.

[2015-03-18 18:23] #64 closed

[2015-03-19 18:58] jday3 commented on #73
fixed

[2015-03-19 19:41] JMurk commented on #73
Confirmed complete.

[2015-03-19 19:41] #73 closed

[2015-03-20 15:12] JMurk opened #77 "OAM - SSO Investigation - SSOs To Investigate Sorting"
Per the user:  table should always be sorted from oldest to newest, but it only does that the first time its loaded, not after completing investigations.

After creating a new investigation and returning to the screen, this is how it sorts.
![image](https://cloud.githubusercontent.com/assets/5805454/6754283/f16c7260-cef1-11e4-96a5-1788ff5d3936.png)

[2015-03-20 15:17] JMurk opened #78 "OAM - SSO Investigation - Recently Reviewed SSOs"
Please make the list only load the SSOs from the past 30 days in the list.  Also, the list diplays somewhere in the middle by default.  Please make sure it displays at the top.

![image](https://cloud.githubusercontent.com/assets/5805454/6754399/a8bc9fee-cef2-11e4-9585-761234066b93.png)

[2015-03-23 14:09] jday3 commented on #78
Fixed on dev/prod

[2015-03-23 14:09] jday3 commented on #77
fixed on dev/prod

[2015-03-23 14:10] jday3 commented on #71
now on dev/prod

There is a collapsed grid at the bottom of the main SSO Investigations page where you can drag Investigated/Non-Investigated SSOs from the map results and then edit the records. For now, the only editable field is the Investigation ID

[2015-03-23 15:21] JMurk commented on #78
Confirmed complete in both environments

[2015-03-23 15:21] #78 closed

[2015-03-23 15:22] JMurk commented on #77
Confirmed complete in both environments.

[2015-03-23 15:22] #77 closed

[2015-03-23 15:27] JMurk commented on #71
Confirmed complete in both environments.

[2015-03-23 15:27] #71 closed

[2015-03-24 13:40] JMurk opened #79 "OAM - SSO Investigation - Add Choke Feature Value"
Please add Manhole (Code MH) to the Choked Feature list within the Investigation details page.

![image](https://cloud.githubusercontent.com/assets/5805454/6802832/cbfc0e3a-d209-11e4-9a29-5791fdc645fd.png)

[2015-03-25 14:26] jday3 commented on #79
done on dev

[2015-03-25 14:31] JMurk commented on #79
Confirmed complete, please push to prod.

[2015-03-25 14:40] jday3 commented on #79
done

[2015-03-25 14:56] JMurk commented on #79
Confirmed complete.

[2015-03-25 14:56] #79 closed

[2015-04-02 20:20] JMurk opened #80 "OAM - SSO Investigation - Remove SSO From Edit List"
**Issue:**  Once you add an SSO to the editiable workspace, there is no way to remove it.

![image](https://cloud.githubusercontent.com/assets/5805454/6972801/2f23c736-d954-11e4-9267-034f2681e4e7.png)

**Resolution:**  Please add a clear button to the individual SSO records in the list so the can be removed by the user when they have completed their edits.

[2015-04-03 14:23] jday3 commented on #80
Done on dev - there is a clear button on top of the grid

[2015-04-03 15:14] JMurk commented on #80
Looks good but as we discussed, please add a clear button to the "Action" column so that individual records can be cleared.

[2015-04-03 15:52] jday3 commented on #80
done on dev

[2015-04-03 16:20] JMurk commented on #80
Confirmed complete, please push to prod.

[2015-04-03 18:18] jday3 commented on #80
done

[2015-04-03 18:26] JMurk commented on #80
Confirmed complete.

[2015-04-03 18:26] #80 closed

[2015-04-21 15:34] JMurk opened #81 "OAM - SSO Investigation - Add Other Sewer MHs to Drag and Drop"
Please add features identified in the "Other Sewer Manholes" layer to the drag-and-drop functionality to the Overflowing Feature ID field in the Investigation form.

![image](https://cloud.githubusercontent.com/assets/5805454/7255913/5c4e7772-e81a-11e4-8ff8-39d6833c7805.png)

[2015-05-06 12:51] jday3 commented on #81
Done on dev

[2015-06-02 14:01] JMurk opened #82 "OAM - BaseMap Displaying Over Other Layers"
**Issue**:  The BaseMap layer in the Activity Manager appears to be on top of all layers and does not turn off with the BaseMap toggle in the TOC.

![image](https://cloud.githubusercontent.com/assets/5805454/7937471/35cd0b4e-090e-11e5-8f96-447c29d2d55c.png)

**Resolution**: Please investigate and resolve accordingly.

[2015-06-03 18:38] jday3 commented on #82
Weird, but I am not seeing this anymore

[2015-06-03 20:46] JMurk commented on #82
Must have been something strange going on that day.  Probably with the network. Closing.

[2015-06-03 20:46] #82 closed

[2015-07-13 18:52] JMurk commented on #81
Confirmed complete in dev and prod.

[2015-07-13 18:52] #81 closed

[2015-07-21 17:11] JMurk opened #83 "OAM - Lookup - Date Formats"
**Issue:**  The date formats are a little cluttered.  Can we change the format?  Ideally it would be:

MM/DD/YYYY HH:MM (7/21/2015 01:45)

![image](https://cloud.githubusercontent.com/assets/5805454/8807347/f4a23e42-2fa9-11e5-9c5b-16f6bc4b117b.png)

[2015-07-21 17:16] JMurk opened #84 "OAM - Lookup - CSR ID Search Needs Wildcard"
**Issue:**  For the CSR ID and Address search, please add the ability to use a wild card to search.  Preferably % would be the wildcard symbol.

![image](https://cloud.githubusercontent.com/assets/5805454/8807451/abfec006-2faa-11e5-810f-f2e501d92f2c.png)

![image](https://cloud.githubusercontent.com/assets/5805454/8807715/5da7bde8-2fac-11e5-9705-320033ac9073.png)

[2015-07-21 17:52] JMurk opened #85 "OAM - Lookup - Distinguish Field Labels"
**Issue:**  I think that the field labels need to be more distinguished from the data.

![image](https://cloud.githubusercontent.com/assets/5805454/8808279/9dc25d18-2faf-11e5-8acd-c93cfb76d685.png)

**Resolution:**  Maybe make them bold?  Or put a box around the data?  Try whatever you think is best.

[2015-07-22 13:40] jday3 commented on #83
done

[2015-07-22 13:40] jday3 commented on #84
done

[2015-07-22 13:41] jday3 commented on #85
done

[2015-07-23 15:15] JMurk commented on #85
Looks good.  Can you also Bold the labels in the search panel (Search By: and Search:).  Also, I think all labels should be right-aligned.  Like Address and Status.

[2015-07-23 15:34] JMurk commented on #84
Can you implement this for the Work Order address as well?

[2015-07-23 15:54] JMurk commented on #83
Confirmed complete.

[2015-07-23 15:54] #83 closed

[2015-07-27 17:41] jday3 commented on #85
done

[2015-07-27 17:41] jday3 commented on #84
done

[2015-07-27 19:46] JMurk commented on #85
Confirmed complete.

[2015-07-27 19:46] #85 closed

[2015-07-27 19:51] JMurk commented on #84
Confirmed complete.

[2015-07-27 19:51] #84 closed

[2015-08-17 15:38] JMurk opened #86 "OAM - CW Lookup - More Wild Cards"
**Issue:** Amy would like users to have the ability to add wild cards to the house number so that results are returned for a specific block.

For example:  "2% N FULTON%" would return:

-264 N FULTON AVE
-2331 N FULTON ST
-21 N FULTON AV

![image](https://cloud.githubusercontent.com/assets/5805454/9308810/1e57957c-44d4-11e5-947d-6f22bff72ed4.png)

Is this possible?  Or perhaps there is a better wa

[2015-08-17 15:50] JMurk opened #87 "OAM - CW Lookup - Add Fields to SR Search Results Grid"
Please add "Date Created" (DATETIMEINIT) and Status (STATUS) to the SR search results grid.

![image](https://cloud.githubusercontent.com/assets/5805454/9309203/1701eea6-44d6-11e5-9939-b3de3a8a7d17.png)

[2015-08-17 16:06] JMurk opened #88 "OAM - CW Lookup - Adjust Details Section Design"
Please make the minor adjustments shown in the image below in both the SR and WO details.

![image](https://cloud.githubusercontent.com/assets/5805454/9309513/26d31592-44d8-11e5-8950-7a41db2141fc.png)

[2015-08-17 16:09] JMurk opened #89 "OAM - CW Lookup - Hyperlink ID in Grid"
In the related Work Orders grid (on both SR ans WO pages), please hyperlink the IDs to Cityworks.

![image](https://cloud.githubusercontent.com/assets/5805454/9309595/bb79ba20-44d8-11e5-9a44-36971e96cfb7.png)

[2015-08-17 16:13] JMurk opened #90 "OAM - CW Lookup - Work Order Details"
Please add "Date Created" (INITIATEDATE), "Due Date" (PROJFINISHDATE), and "Finish Date" (ACTUALFINISHDATE) to the details section of the Work Order page.

![image](https://cloud.githubusercontent.com/assets/5805454/9309703/5a211308-44d9-11e5-8676-18b44941a749.png)

[2015-08-17 16:22] JMurk opened #91 "OAM - CW Lookup - Back Function"
Per Amy:  "Is there a “back” function, like you are looking at one SR and would like to look at the previous one you had up?  Or in the Search control could see your previous searches? "

This is fairly vague, so let me know what the options are, if any.

[2015-08-17 16:33] JMurk opened #92 "OAM - CW Lookup - Hit Enter to Launch Search"
**Issue:**  Is it possible to launch a search by hitting the enter key on the keyboard?  The find button is fine, this would just be in addition.

![image](https://cloud.githubusercontent.com/assets/5805454/9310051/6f396f7c-44db-11e5-9d6c-86c90b6ff0b3.png)

**Resolution:** If possible, please implement.

[2015-08-17 16:47] JMurk opened #93 "OAM - CW Lookup - Access/Autoload"
**Question:**  If users only have access to the Cityworks activity, is it possible to load that by default?  Furthermore, can we have the application title change when this activity is selected?

[2015-08-17 16:56] JMurk opened #94 "OAM - CW Lookup - No Vertical Scrolling/Adjustment"
**Issue:** On smaller screens and/por tablets, the lower elements of the page are cut off with no way to access them.

![image](https://cloud.githubusercontent.com/assets/5805454/9310644/01dd1b32-44df-11e5-8607-0b1fe85144d5.png)

**Resolution:**  Please add a menthod (e.g. scroll bar) to access the lower page elements on smaller screens.

[2015-08-19 13:29] JMurk commented on #94
Confirmed complete in Chrome desktop and mobile.

[2015-08-19 13:29] #94 closed

[2015-08-19 13:34] JMurk commented on #92
Confirmed complete.

[2015-08-19 13:34] #92 closed

[2015-08-19 13:36] JMurk commented on #87
Confirmed complete.

[2015-08-19 13:36] #87 closed

[2015-08-19 13:40] JMurk commented on #90
Confirmed complete.

[2015-08-19 13:40] #90 closed

[2015-08-19 13:56] JMurk commented on #89
Seems to be in place on the Work Order page, but no the Service Request Page.

![image](https://cloud.githubusercontent.com/assets/5805454/9358131/84b8793c-4658-11e5-943b-382f190f06ba.png)

[2015-08-19 13:56] JMurk commented on #88
Confirmed complete.

[2015-08-19 13:56] #88 closed

[2015-08-19 14:45] JMurk opened #95 "OAM - Not Loading on iPads/Safari"
**Issue:**  The application gets stuck on the loading screen when trying to access on an iPad.  This could be an issue with Safari.

Please investigate and resolve accordingly.

[2015-08-19 15:02] jday3 commented on #95
The app does load on Chrome for iOS, but the touch events don't work properly therefore making the app unusable. I don't think it will be feasible to make the OAM application compatible with iOS devices. I think it would make more sense to make iOS compatibility a requirement for the standalone cityworks app, which will be upgraded to ExtJS 6.

[2015-08-19 15:58] JMurk commented on #86
Per Amy, this is a critical item.  Please prioritize.

[2015-08-24 19:32] JMurk opened #96 "Cityworks AM - Firefox Searching Bug"
**Issue:**  In the Firefox browser, a search will just get stuck on the loading screen.  This also occurs in other browsers when the search will not produce any results.

![image](https://cloud.githubusercontent.com/assets/5805454/9450181/323ccdcc-4a75-11e5-89b6-27ef5d9f5365.png)

Please make sure that when no results are found, am obvious message is displayed to the user.

[2015-08-31 15:14] jday3 commented on #95
I assume that this is no longer relevant since the cityworks portion has been moved to its own application?

[2015-08-31 15:14] jday3 commented on #93
No longer relevant

[2015-08-31 15:14] #93 closed

[2015-08-31 15:16] jday3 commented on #91
This is functional on the mobile/tablet version, but not the desktop version. I could redesign the desktop version to allow this if we want to.

[2015-08-31 15:17] jday3 commented on #89
This is now working

[2015-08-31 15:17] jday3 commented on #86
This was completed

[2015-09-04 12:22] jday3 opened #97 "Cityworks Activity Browser - Permissions"
Permissions have been implemented in the cityworks app similar to the activity manager. The administration portal has been updated to allow for the adding/removal of permissions. Currently there is only one permission (Reports) and the searching functionality is available to everyone.

[2015-09-04 15:57] JMurk commented on #97
Confirmed complete.  Ready for prod after migration.

[2015-09-04 16:12] JMurk commented on #96
Confirmed complete.

[2015-09-04 16:12] #96 closed

[2015-09-04 16:23] JMurk commented on #95
Correct, confirmed complete.

[2015-09-04 16:23] #95 closed

[2015-09-04 16:30] JMurk commented on #91
Lets leave it as-is for now.

[2015-09-04 16:30] #91 closed

[2015-09-10 17:22] JMurk commented on #89
Complete on Cityworks Activity Browser app.

[2015-09-10 17:22] #89 closed

[2015-09-10 17:22] JMurk commented on #86
Completed

[2015-09-10 17:22] #86 closed

[2015-09-10 17:24] JMurk opened #98 "OAM - Remove Work Activity Look Up Activity"
We can now remove the "Work Activity Look Up" activity from the activity manager since it has been migrated into it's own application.

[2015-09-10 17:26] JMurk opened #99 "OAM - Map - Add Measure Tool"
Users have requested the addition of the measuring tool from the Utility Viewer in the mapping tools.

![image](https://cloud.githubusercontent.com/assets/5805454/9795583/85e3b22c-57bf-11e5-9fb0-28c0716f8c93.png)

[2015-09-14 18:40] JMurk opened #100 "Cityworks Activity Browser - Description Validation"
**Issue:** The description field does not seem to be validating properly.  I passed in a value of "Test" and it claimed it was valid.

![image](https://cloud.githubusercontent.com/assets/5805454/9858295/e1017532-5aed-11e5-9c62-148926164c5a.png)

[2015-09-14 18:44] JMurk opened #101 "Cityworks Activity Browser - Import - Add Rows"
Is it possible to have functionality built in that allows users to add new rows to the grid?  Perhaps something like this:

![image](https://cloud.githubusercontent.com/assets/5805454/9858510/254a2b8e-5aef-11e5-8533-5e9e481029d4.png)

[2015-09-14 18:47] JMurk commented on #100
Update:  It did not import
![image](https://cloud.githubusercontent.com/assets/5805454/9858581/81b66eb4-5aef-11e5-80cb-0681df3dcfbd.png)

[2015-09-14 19:05] JMurk opened #102 "Cityworks Activity Browser - Import - Filter Description Dropdown"
Is it possible to filter the Description drop down based on what Entity is populated?  If there is no entity, or the entity is invalid, it would just display all options.

![image](https://cloud.githubusercontent.com/assets/5805454/9858993/f3aefd7c-5af1-11e5-8f94-88309a3277c0.png)

[2015-09-14 19:07] jday3 commented on #100
"TEST" is a valid description (according to the database). The reason it did not import is because the Description/Entity combination does not exist as a template (if you hover over the icon next to the row is should show the issue)

[2015-09-14 19:13] jday3 commented on #102
Sure, it is possible. Would the description become invalid if the entity is updated and the current value of description is filtered out?

[2015-09-15 13:54] JMurk commented on #102
Yes, it should.  Lets put this in place.

[2015-09-15 13:58] JMurk commented on #100
This check should be a part of the verification.  If the description does not match, they verify still succeeds.  I should fail, saying that errors exist.

[2015-09-15 17:30] jday3 commented on #102
done

[2015-09-15 17:31] jday3 commented on #101
done

[2015-09-15 17:32] jday3 commented on #100
description/entity must match like we discussed earlier

[2015-09-16 12:53] jday3 commented on #99
done on dev

[2015-09-16 12:55] jday3 commented on #98
done

[2015-09-16 13:02] JMurk commented on #102
Confirmed complete.

[2015-09-16 13:02] #102 closed

[2015-09-16 13:03] JMurk commented on #101
This looks good, however, when you click "Add New" the system immediately gives you the Invalid Records error message.  It seems like it is trying to validate the new record before the user is able to enter anything.
![image](https://cloud.githubusercontent.com/assets/5805454/9905245/d6191cc8-5c51-11e5-95c4-db6c61d0ab7a.png)

[2015-09-16 13:04] JMurk commented on #100
Confirmed complete.

[2015-09-16 13:04] #100 closed

[2015-09-16 13:15] JMurk commented on #99
The point measure tool should return State Plane coordinates and Baltimore City Grid coordinates.  This exists in the Utility Viewer.

![image](https://cloud.githubusercontent.com/assets/5805454/9905517/6fb3af32-5c53-11e5-842d-862b5e9885e9.png)

[2015-09-16 13:15] JMurk commented on #98
Confirmed complete.

[2015-09-16 13:15] #98 closed

[2015-10-26 15:01] jday3 commented on #97
now added to prod. Need icon and description though. Permissions should work

[2015-11-12 15:31] #97 closed

[2015-11-13 17:42] JMurk opened #103 "Cityworks Activity Browser - Batch Load - Add Fields"
Please add the following fields to the batch import functionality.  They will need to be added to the app and the Excel template:

-Project (PROJECTNAME) -validate using list of projects via API.  Otherwise use the PROJECT table.
-Contract (CONTRACTWOID ?)  -validate using list of contracts via API.  Otherwise use the CONTRACT table
-Supervisor (SUPERVISOR) - validate like requested by
-Status (ST

[2015-12-03 23:52] jday3 commented on #101
done on test

[2015-12-03 23:53] jday3 commented on #103
done on test

[2015-12-04 13:49] JMurk commented on #103
I uploaded a spreadsheet that had all invalid Contracts. There was noting on the UI, besides a tool tip that indicated that field was the issue.  Can we highlight the invalid cells or something?

Also, can you please use Contract Number instead of description for validation?

[2015-12-04 15:10] jday3 commented on #103
done

[2015-12-04 18:08] jday3 commented on #103
Now the contract name is being used to display

[2015-12-07 14:00] JMurk commented on #103
Now I am getting an error:

![image](https://cloud.githubusercontent.com/assets/5805454/11628643/f7cd2d5a-9cc0-11e5-9661-7c947846e691.png)

[2015-12-07 19:41] jday3 commented on #103
Update - The importing is now working, but I am running into an issue where the requests are timing out after two minutes. All of the workorders are being uploaded correctly, but the response to the browser is invalid. You can test with a smaller batch for the time being if you wish

[2015-12-08 18:50] jday3 commented on #103
okay, now it should be working.

[2015-12-08 20:50] JMurk commented on #103
As discussed, please check for the # sign being a special character in the comments.  Also, records without Asset IDs failed to import.  Can you check to see if they are mistakenly required on the backend?

[2015-12-09 02:28] jday3 commented on #103
Both should be fixed

[2015-12-11 00:46] JMurk opened #104 "OAM - SSO Investigation - Follow-up Status Typo"
On the investigation form within the SSO Investigation activity, the Follow-up Status dropdown includes a value with a typo.

"Comfirmed" should be "Confirmed"

![image](https://cloud.githubusercontent.com/assets/5805454/11732879/9fa49664-9f76-11e5-9eac-bfbea365d388.png)

[2015-12-11 01:12] JMurk opened #105 "OAM - SSO Investigation - Recommendation Responsibility - UAMD"
Please update the value "UAMD" to "OAM".  Also, is is possible to check for the value "UAMD" throughout the application?  If so, any remaining values should be updated to "OAM"

![image](https://cloud.githubusercontent.com/assets/5805454/11733318/4360fea2-9f7a-11e5-8ea2-0dc2c82fee4e.png)

[2015-12-14 15:34] JMurk opened #106 "OAM - Create New Investigation - Enforce Selection of SSO"
**Issue:**  In the SSO Investigation Activity, the create new investigation button allows users to create a new investigation without selecting an SSO from the grid.

![image](https://cloud.githubusercontent.com/assets/5805454/11785148/47c7da34-a24e-11e5-9bb5-01277026e9c2.png)

**Resolution:** On click, check to see if an SSO had been selected.  If not, prompt a warning message that states "Please

[2015-12-14 15:45] JMurk opened #107 "OAM - SSOs without an Investigation - Add Overflow Type Column"
Please add a column to the "SSOs without an Investigation" called "Overflow Type" (this exists in the Recent SSOs with an Investigation grid).  It can be placed to the right of Choke Type.

![image](https://cloud.githubusercontent.com/assets/5805454/11785407/b655d798-a24f-11e5-9a5c-9272bab8d571.png)

[2015-12-14 15:55] JMurk opened #108 "OAM - Google Street View"
**Issue:** The Google street view tool is not working.  It just displays blank.

![image](https://cloud.githubusercontent.com/assets/5805454/11785698/fd708398-a250-11e5-83f8-fec83b6509e8.png)

**Resolution:** Please investigate and resolve accordingly.

[2015-12-14 16:06] JMurk opened #109 "OAM - SSO Recommendations - Make By and Date Uneditable"
**Issue:**  For Recommendations, the Recommendation Date and Recommended By fields are correctly autopopulated on creation.  These value are then editable, which is not correct.

![image](https://cloud.githubusercontent.com/assets/5805454/11786085/b542d3f8-a252-11e5-8b6c-774a592fef1f.png)

**Resolution:** Please set Recommendation Date and Recommended By to be read-only on the UI.

[2015-12-18 13:05] JMurk commented on #103
Ok, everything looks like it is good to go.  Please push all development changes to production.

[2016-02-18 15:56] JMurk opened #110 "Cityworks Activity Browser - Add Report for Exporting List of Work"
**Update Description:**  A new report needs to be added to the Cityworks Activity Browser.

![image](https://cloud.githubusercontent.com/assets/5805454/13147940/120229c2-d629-11e5-84d4-cc3d0627e8ce.png)

The new report will be titled "Contractor Work List" and should include the following input parameters:

* Requested By
 * Options: (ALL, ITRON FDM, ITRON INSPECTIONS, WACHS)
* Contractor
 * Optio

[2016-02-18 15:58] JMurk commented on #101
Complete.

[2016-02-18 15:58] #101 closed

[2016-03-09 16:54] rssidlowski opened #111 "OAM: Hydrant Reports - Hydrant Inspection Detail"
Report needs to be modified in the DPW Activity Manager to point to new report.
The report should include the following input parameter:
•Hydrant ID

The returned information should be:
Hydrant details and all hydrant inspection details.
See (http://dpwdev.baltimorecity.gov/HydrantsReports/InspectionDetailAll.aspx?HydrantId=216C007760).

The reports should export to a spreadsheet, word or PDF.

[2016-03-09 17:09] rssidlowski opened #112 "OAM: Hydrant Reports - Inspections Summary"
Update the existing report 'Inspections Summary'

User should be able to input:
Date from: date picker
Date To: date picker
Sort by organization - if not selected, generate the report defined by:
http://dpwdev.baltimorecity.gov/HydrantsReports/InspectionsSummaryByDate.aspx?StartDate=1/1/2016&EndDate=3/1/2016
![repinspsumbydate](https://cloud.githubusercontent.com/assets/5039052/13643479/1df0b976-e

[2016-03-23 17:07] taojun545 commented on #103
Joe talked with me this morning, and I will push all development changes to production. Since I am not in the Assignee list, could anyone assign this issue to me?

[2016-03-23 18:05] taojun545 commented on #103
Updated on Production.

[2016-04-04 14:18] JMurk commented on #103
A few changes:
1. It appears as the API is using my credentials.  Can you change so that it uses:

API /API123
1. Can you further filter the dropdown in the Project column using "Where DomainID = 3"

[2016-04-04 14:51] alanfoster99 opened #113 "SSO Activity Manager - Identify Results change"
Can the identify results of investigated SSOs be changed so that instead of returning the full results of the SSO point, the user can link from the Identify Results directly to the "Updated Investigation" page via single click?  This page holds the info they need for analyzing results.  See below:

![image](https://cloud.githubusercontent.com/assets/7118831/14251909/0fe54d1a-fa53-11e5-88fa-2ecd93f

[2016-04-04 19:16] taojun545 commented on #103
Updated on dev.

For Project Combo, add more filter as
Where(t => t.DOMAINID == 3 && t.CANCEL.Equals("N") && !String.IsNullOrEmpty(t.PROJECTNAME))

[2016-04-05 12:23] JMurk commented on #103
Since this update, everything is very buggy.  For example, the verify button is non-functional and once you edit one field, all others become uneditable. Please investigate this.

[2016-04-05 12:50] JMurk commented on #103
We also need to filter the Status dropdown where values not in ('CLOSED', 'COMPLETE', CM COMPLETE', 'CLOSED/INCOMPLETE')

[2016-04-05 15:18] taojun545 commented on #103
Fixed the bug and updated Status dropdown on dev.

[2016-04-06 15:19] taojun545 commented on #103
Fixed the bug to handle empty "Comments" and skip "/AMS/WorkOrder/AddEntities" if no AssetID uploaded. The updates were on dev.

@JMurk need to check WOTEMPLATE table in DPW_Cityworks. Entity dropdown options are from APPLYTOENTITY in that table, which include inactive entities.

[2016-04-07 13:53] JMurk commented on #113
I think this is possible in one way or another.  I will need to review with developers to determine the best approach.

[2016-04-18 13:01] JMurk commented on #103
It appears the Status dropdown is yielding no values and causing the imported records to be invalid and not uploadable.  Please check how the Status values is being pulled from the API or database.

[2016-04-18 13:10] taojun545 commented on #103
The status value is from "/AMS/WorkOrder/Statuses", which gets a list of available work order statuses

[2016-04-18 13:14] JMurk commented on #103
Confirmed complete, please push to production.

[2016-04-18 14:19] taojun545 commented on #103
Updated all followings on production.
- change credential to "API/API123"
- Filter Project dropdown using "DomainID = 3"
- Filter Status dropdown not include ('CLOSED', 'COMPLETE', CM COMPLETE', 'CLOSED/INCOMPLETE')
- Fixed the bugs to handle empty "Address", empty "Comments", require "Requested By" and skip "/AMS/WorkOrder/AddEntities" if no AssetID uploaded

[2016-04-18 14:45] JMurk commented on #103
Confirmed complete.

[2016-04-18 14:45] #103 closed

[2016-04-19 18:41] taojun545 commented on #109
Updated on dev.

[2016-04-19 18:42] taojun545 commented on #108
Updated on dev.

[2016-04-19 18:43] taojun545 commented on #107
Updated on dev.

[2016-04-19 18:47] taojun545 commented on #108
It was using "http://mdimap.towson.edu/ArcGIS/rest/services/GeometryService/Geometry/GeometryServer", and I updated with "http://10.1.65.43:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer"

[2016-04-19 18:48] taojun545 commented on #106
Updated on dev. When click, check to see if an SSO had been selected. If not, prompt a warning message that states "Please select an SSO to investigate!"

[2016-04-19 18:52] taojun545 commented on #105
Updated followings on dev.
- Recommendation Responsibility Dropdown
- Layer Name on SSO & CCTV

[2016-04-19 18:56] taojun545 commented on #99
Upgrade ArcGIS API from 3.10 to 3.16, and update the Measure Tool on dev.

We may need to test Map functions since the ArcGIS API Upgrade.

Thanks.

[2016-04-19 19:17] taojun545 commented on #63
Updated on dev. I also fixed the Alert Prompt on CCTV Review. If there are pending, unsaved changes in the CCTV Review form, it will be shown when they are leaving.

[2016-04-20 11:57] JMurk commented on #99
Confirmed complete, ready for prod.  All other map functions appear to be working.

[2016-04-20 13:37] JMurk commented on #63
Confirmed complete on dev, ready for prod.

[2016-04-20 13:48] JMurk commented on #105
Confirmed complete... Are those dropdowns hard-coded?

[2016-04-20 13:50] taojun545 commented on #105
Yes. Most of the dropdowns in SSO are hard-coded.

[2016-04-20 13:52] JMurk commented on #106
When you click the Add to Existing Investigation button without SSOs selected, it correctly prompts a message, however it is a browser warning.  Can you update that to be the application pop-up style.  It should read:

"Please select SSOs to be added!"

![image](https://cloud.githubusercontent.com/assets/5805454/14676950/90571cbc-06dd-11e6-8c25-764e5e828172.png)

[2016-04-20 13:53] JMurk commented on #107
Confirmed complete, ready for push to prod.

[2016-04-20 13:54] JMurk commented on #108
Confirmed complete, ready for push to prod.

[2016-04-20 13:55] JMurk commented on #105
We should update to use the domain values.  Is that a large effort?  If so we can push this change and I will open another issue for that update.

[2016-04-20 13:56] JMurk commented on #109
Confirmed complete, ready for push to prod.

[2016-04-20 13:57] JMurk commented on #112
Has this been completed?

[2016-04-20 13:57] JMurk commented on #111
Has this been completed?

[2016-04-20 13:59] taojun545 commented on #105
It will be a lot of changes. Please open another issue for it.

[2016-04-20 18:09] taojun545 commented on #106
Updated on dev.

[2016-04-21 12:12] JMurk commented on #113
After talking with Jun, we can add a right-click menu item for "Open Investigation."  Will that work?

![image](https://cloud.githubusercontent.com/assets/5805454/14708416/c7579aa0-0798-11e6-96ad-1555a2fac4cf.png)

[2016-04-21 12:28] JMurk commented on #106
Confirmed complete, ready for push to prod.

[2016-04-21 14:08] taojun545 commented on #104
Updated on dev.

[2016-04-21 17:30] JMurk commented on #104
Confirmed complete, ready for prod.

[2016-04-21 17:36] alanfoster99 commented on #113
Yeah, sounds good

[2016-04-22 18:49] taojun545 commented on #113
Updated on dev.

[2016-04-26 14:37] JMurk commented on #113
Confirmed complete in dev, ready for prod.

[2016-04-28 18:23] taojun545 commented on #105
All the hard-coded dropdowns in SSO have been updated into dynamic dropdowns on dev.

[2016-05-05 17:10] alanfoster99 opened #114 "DPW Activity Manager - Dropdown List"
In DEV, if a user has access to more that one activity, only one activity is visible in the dropdown.  Please correct this so that all activities for that user are visible and selectable.

[2016-05-05 17:19] taojun545 commented on #114
It works good on my account. Could you show me which user has the issue?

[2016-05-05 17:20] alanfoster99 commented on #114
Alan.foster
David.thompson2

Alan E. Foster
Business Analyst, KCI Technologies, Inc. – Geospatial Practice
1.410.316.0812
alan.foster@kci.commailto:alan.foster@kci.com

[cid:image001.jpg@01D1A6D0.CFD20130]http://kci.com/

Chief, Data Management Division, Baltimore City Department of Public Works
1.410.396.0022
alan.foster@baltimorecity.govmailto:alan.foster@baltimorecity.gov

From: Jun Tao [mailto

[2016-05-05 17:22] taojun545 commented on #114
I checked Dev Administration Portal, and both users only have one activity access.

[2016-05-05 17:29] taojun545 commented on #114
I think the issue is on Admin Portal.

I saw you were using User Directory to add user, but it only assign one activity to you.

You can click Roles on the left menu, and click the checkbox to assign multiple activities to you.

[2016-05-05 17:29] alanfoster99 commented on #114
Well, I just added myself back to the SSO Investigation activity, and it deleted me from Lateral CCTV.  So the issue is with the admin portal.

Alan E. Foster
Business Analyst, KCI Technologies, Inc. – Geospatial Practice
1.410.316.0812
alan.foster@kci.commailto:alan.foster@kci.com

[cid:image001.jpg@01D1A6D1.7C031ED0]http://kci.com/

Chief, Data Management Division, Baltimore City Department of P

[2016-05-05 17:32] taojun545 commented on #114
Yes, you are right. I will take a look at the issue on Admin Portal.

[2016-05-05 17:33] alanfoster99 commented on #114
Got it -- thanks.  Dropping priority to medium, since there is work around identified.

[2016-05-05 19:41] taojun545 commented on #114
The Admin Portal issue has been fixed on dev. @JMurk

The issue is on both "DPW Activity Manager" and "Cityworks Activity Browser", which should allow to assign multiple roles to one user.

When adding user from User Directory, it will also remove other existing roles. It is correct on Mobile Application, which only allow one role for each user. But for other two above, it is wrong. So I changed t

[2016-05-17 20:00] alanfoster99 opened #115 "CW Activity - New fields for Batch Work Order Create tool"
Please add the following fields to the batch load tool (*none are required*)

**Resolution:**
[RESOLUTION]
Invalid Work Order/Error
No Problem Found
Other (Explain in Comments)
Work Performed

**Initiate Date**
[INITIATEDATE]
_date:_ mm/dd/yyyy hh:mm: AM/PM

**Actual Finish Date**
[ACTUALFINISHDATE]
_date:_ mm/dd/yyyy hh:mm: AM/PM

**Cycle Frequency**
[CYCLEINTERVALNUM]
_(Integer)_

**Cycle Interv

[2016-05-19 18:00] taojun545 commented on #115
Updated on the DEV. Please go ahead to test it.

[2016-05-20 18:17] alanfoster99 commented on #115
Please add one more field for "CYCLE FROM"; acceptable values are:

"actual finish date" / "projected start date" / "pick a date"

[2016-05-20 18:51] alanfoster99 opened #116 "CW Activity - Batch load issue with Priority"
When loading records via batch tool, those with "MEDIUM" get mapped to MEDIUM HIGH.  Please correct this so they are mapped to MEDIUM.

[2016-05-20 19:11] taojun545 commented on #116
The current mapping code is finding the first matching option with the same beginning, and "Medium High" is before "Medium". I will correct the code to find the exact match.

[2016-05-20 21:11] taojun545 commented on #115
If the CycleFrom value is "Pick a Date", it should upload another field "FromDate".

@alanfoster99 So do we need to add one more field?

[2016-05-23 13:49] taojun545 commented on #115
For now, we will implement the acceptable values of "CYCLE FROM" only have:
"actual finish date" / "projected start date"

[2016-05-23 21:21] taojun545 commented on #116
Fixed the bug on DEV.

[2016-05-23 21:21] taojun545 commented on #115
Updated on DEV.

[2016-05-24 14:35] alanfoster99 commented on #116
Verified.  Please push to production

[2016-05-24 14:36] alanfoster99 commented on #115
Verified.  Please push to production.

[2016-05-25 13:30] taojun545 commented on #115
Updated on production.

[2016-05-25 13:30] taojun545 commented on #116
Updated on production.

[2016-05-25 14:00] alanfoster99 commented on #116
Verified and closing

[2016-05-25 14:00] #116 closed

[2016-05-25 14:01] alanfoster99 commented on #115
Confirmed and closing

[2016-05-25 14:01] #115 closed

[2016-06-21 21:35] taojun545 commented on #63
Updated on production.

[2016-06-21 21:37] taojun545 commented on #99
Updated on production.

[2016-06-21 21:40] taojun545 commented on #104
Updated on production. The combo is dynamically using domain list now.

[2016-06-21 21:42] taojun545 commented on #106
Updated on production.

[2016-06-21 21:43] taojun545 commented on #107
Updated on production.

[2016-06-21 21:44] taojun545 commented on #108
Updated on production.

[2016-06-21 21:46] taojun545 commented on #109
Updated on production.

[2016-06-21 21:48] taojun545 commented on #113
Updated on production.

[2016-06-22 13:17] JMurk commented on #114
Confirmed in dev, please push to prod.

[2016-06-23 16:00] taojun545 commented on #114
@JMurk Could you sync the table "dbo.User" in cityUsers database between dev and prod? There is a new field "Organization" for that table.

[2016-06-23 16:18] JMurk commented on #114
Done

[2016-06-23 17:08] taojun545 commented on #114
Updated in prod.

[2016-06-24 16:32] JMurk commented on #114
Confirmed complete

[2016-06-24 16:32] #114 closed

[2016-06-24 16:42] JMurk commented on #113
Confirmed complete.

[2016-06-24 16:42] #113 closed

[2016-06-24 16:45] JMurk commented on #109
Confirmed complete.

[2016-06-24 16:45] #109 closed

[2016-06-24 16:47] JMurk commented on #108
Confirmed complete.

[2016-06-24 16:47] #108 closed

[2016-06-24 16:52] JMurk commented on #107
Confirmed complete.

[2016-06-24 16:52] #107 closed

[2016-06-24 16:53] JMurk commented on #106
Confirmed complete.

[2016-06-24 16:53] #106 closed

[2016-06-24 16:54] JMurk commented on #105
Confirmed complete.

[2016-06-24 16:54] #105 closed

[2016-06-24 16:55] JMurk commented on #104
Confirmed complete.

[2016-06-24 16:55] #104 closed

[2016-06-24 16:55] JMurk commented on #99
Confirmed complete.

[2016-06-24 16:55] #99 closed

[2016-06-24 16:57] JMurk commented on #63
Confirmed complete.

[2016-06-24 16:57] #63 closed

[2016-09-13 19:44] alanfoster99 opened #117 "OAM - SSO Investigation"
Please add amended reports to the Activity Manager – currently only links to 24 hr and 5 day … does not show amended.

For example:

http://dpwview.baltimorecity.gov/SSOReport/SSOReport5DAYamended.aspx?SSOID=3892

[2016-09-14 03:14] taojun545 commented on #117
Updated on DEV.

[2016-09-14 19:02] alanfoster99 commented on #117
Please add a Boolean test; if Amended = No in the SSO table, then do not show link for 5 day amended.

[2016-09-15 02:26] taojun545 commented on #117
Updated on DEV. Show the link if Amended is true, otherwise hide it.

[2016-09-15 21:09] alanfoster99 commented on #117
Looks good -- please push to PROD.

[2016-09-16 13:20] taojun545 commented on #117
Updated on PROD.

[2016-09-16 13:37] alanfoster99 commented on #117
Confirmed and closing.  Thanks.

[2016-09-16 13:37] #117 closed